<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<!-- permet de déclarer une ressource qui se trouve dans le dossier css du dossier parent resources -->
	<h:outputStylesheet name="common-style.css" library="css" />
</h:head>
<h:body>
	<!-- La div avec le id= header, Represente le header  -->
	<div id="header">
		<ui:insert name="header">
			<ui:include src="/template/header.xhtml">
			</ui:include>
		</ui:insert>
	</div>
	<div id="page">
		<!-- La div avec le id= content, Represente le contenu spécifique à chaque vue  -->
		<div id="content">
			<ui:insert name="content">
				<ui:include src="/template/content.xhtml" />
			</ui:insert>
		</div>
		<!-- La div avec le id= footer, Represente le contenu spécifique au pied de page par défaut  -->
	</div>
<!-- 	<div id="footer"> -->
<!-- 		<ui:insert name="footer"> -->
<!-- 			<ui:include src="/template/footer.xhtml"> -->
<!-- 				<ui:param name="auteur" value="www.objis.com" /> -->
<!-- 			</ui:include> -->
<!-- 		</ui:insert> -->
<!-- 	</div> -->

</h:body>
</html>