<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"  
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Information etudiant</title>
</head>
<body>
	<!-- DECLARATION DU TEMPLATE DONT LA PAGE EST CLIENTE -->
	<ui:composition template="/template/layout.xhtml">

		<!-- Redefinition de la zone 'content' du layout  -->
		<ui:define name="content">
		<!-- Valeur stocker dans la bdd  -->
			<p:steps activeIndex="#{PostulerBean.suivioffre}">
				<p:menuitem value="Candidature non transmise" />
				<p:menuitem value="Envoyer" />
				<p:menuitem value="En cours de traitement" />
				<p:menuitem value="Terminer" />
			</p:steps>
		</ui:define>

	</ui:composition>
</body>
</html>