<!DOCTYPE html>
<html lang="fr"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Tomahawk file upload demo</title>
    </h:head>
    <h:body>
    
        <h:form enctype="multipart/form-data">
            <t:inputFileUpload value="#{uploadBean.uploadedFile}" />
            <h:commandButton value="submit" action="#{uploadBean.submit}" />
            <h:messages />
        </h:form>
        
        <h:form id="list">
    <ui:repeat var="item" value="#{uploadBean.fus}">
   		<br/> 
   		<h:outputText value="#{item.titre}"/>
            <h:commandButton value="Voir le pdf" action="#{uploadBean.download(item)}"/>
        </ui:repeat>
    </h:form>
        
    </h:body> 
</html>