#page{
	width: 100%;
	margin: 0 auto;
}

#header{
	width: 100%;
	height:100px;
}

#content{
	width: 100%;
	height:250px;
	margin-right:16px;
	margin-bottom:16px;
}

#footer{
	width: 100%;
	height:100px;
	background:#ccc;
	position:absolute;
	bottom:0;
}
