<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Information etudiant</title>
</head>

<body>
	<!-- DECLARATION DU TEMPLATE DONT LA PAGE EST CLIENTE -->
	<ui:composition template="/template/layout.xhtml">
		<ui:define name="content">
			<!-- Contenue ICI -->
			<!--  Affichage des ofre et bouton postuler -->
			<f:view>
				<p:datatable>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Lette de motivation" />
						</f:facet>

					</p:column>

				</p:datatable>
			</f:view>
		</ui:define>
	</ui:composition>
</body>
</html>